# Environment files
.env
.env.*

# Firebase / Google credentials
firebase.json
service-account.json
config/service-account.json

# Node modules
node_modules/

# Logs
*.log

# Build folders
dist/
build/